<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->

    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
  
    <link href="{{ url_for('static', filename="js/bootstrap.js") }}" rel="stylesheet">

    </head>
  <body>
    
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Ski Resort Database</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="register">Register</a></li>
          <li class="active"><a href="search">Search</a></li>
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div align="center">
      <h2> Search all ski resorts:</h2>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <table class="table table-hover">
          <thread>
            <tr>
              <th>Resort Name:</th>
              <th>Base Elevation:</th>
              <th>Peak Elevation:</th>
              <th>Runs:</th>
              <th>Terrain Parks:</th>
            </tr>
          </thread>
          <tbody>
            {% for item in resorts %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.base}}</td>
              <td>{{item.peak}}</td>
              <td>{{item.runs}}</td>
              <td>{{item.parks}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </body>
</html>