<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Webpage</title>
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap-responsive.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="js/bootstrap.js") }}" rel="stylesheet">
</head>
<body>
  <div align="center">
    <h1><span class="glyphicon glyphicon-tree-conifer"></span>Welcome to my Webpage<span class="glyphicon glyphicon-tree-conifer"></span></h1>
    <h3> User List: </h3>
  </div>
  <table class="table table-hover">
      <thread>
        <tr>
          <th>User name:</th>
          <th>User email:</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td>{{userlist[0].username}} </td>
          <td>{{userlist[0].email}} </td>
        </tr>
        <tr>
          <td>{{userlist[1].username}}</td>
          <td>{{userlist[1].email}}</td>
        </tr>
        <tr>
          <td>{{userlist[2].username}}</td>
          <td>{{userlist[2].email}} </td>
        </tr>
      </tbody>
    </table>
</body>
</html>